MONGO_ROOT_USERNAME=replace-with-local-mongo-user
MONGO_ROOT_PASSWORD=replace-with-local-mongo-password
MONGO_DATABASE=school_management
MONGODB_URI=mongodb://replace-with-local-mongo-user:replace-with-local-mongo-password@localhost:27017/school_management?authSource=admin
CORS_ORIGIN=http://localhost:5173
PORT=3000
